* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  background: whitesmoke;
}

input,
button,
textarea {
  font-family: inherit;
}

.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-color: red;
  border-left-width: 5px;
  border-radius: 3px;
}
.callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
  color: red;
}
.callout + .bs-callout {
  margin-top: -5px;
}

.login-conatiner {
  margin: 20vh auto;
  width: 50vw;
  background: white;
  padding: 20px;
}
.login-conatiner h1 {
  color: blue;
  text-align: center;
  text-transform: uppercase;
}
.login-conatiner input {
  height: 35px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  width: 100%;
}
.login-conatiner label {
  padding: 0 15px;
}
.login-conatiner .error {
  color: red;
}
.login-conatiner .btn-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.login-conatiner .btn-holder button {
  margin: 0 auto;
  background: blue;
  color: white;
  height: 35px;
  border: none;
  padding: 0 30px;
  cursor: pointer;
  border-radius: 5px;
}

.navbar {
  font-size: 18px;
}
.navbar .navbar-brand {
  margin-right: 30px;
}
.navbar .navbar-brand img {
  height: 70px;
}
.navbar .nav-item .nav-link {
  color: white;
}
.navbar .nav-account-holder span {
  color: white;
}
.navbar .nav-account-holder a {
  color: white;
  padding: 0 20px;
}

.index-container {
  margin: 30px auto;
  padding: 30px;
  background: white;
}
.index-container .row {
  margin-bottom: 30px;
}
.index-container .row .nav-button-holder {
  margin: 0 auto;
  width: 70%;
  background: dodgerblue;
  text-align: center;
  padding: 30px 0;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.index-container .row .nav-button-holder i {
  font-size: 40px;
}
.index-container .row .nav-button-holder:hover {
  background: blue;
}
.index-container .row .deny {
  background: lightgray;
  cursor: not-allowed;
}
.index-container .row .deny:hover {
  background: lightgray;
}

.import-container {
  margin: 30px auto;
  padding: 30px;
  background: white;
}
.import-container h2 {
  text-align: center;
}
.import-container .import-form-container {
  margin: 30px 0;
}
.import-container .import-form-container .row {
  padding: 20px;
  border-bottom: 1px solid gray;
}
.import-container .import-form-container .row .index {
  text-align: center;
  height: 35px;
  font-size: 18px;
}
.import-container .import-form-container .row .index span {
  vertical-align: middle;
}
.import-container .import-form-container .row .product-list select {
  padding: 0 20px;
  width: 100%;
  height: 35px;
}
.import-container .import-form-container .row .col-3 input {
  height: 35px;
  width: 100%;
  padding: 0 10px;
}
.import-container .import-btn-holder {
  width: fit-content;
  margin: 0 auto;
}
.import-container .import-btn-holder button {
  margin: 0 15px;
  height: 35px;
  width: 150px;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  color: white;
}
.import-container .import-btn-holder #btnAddRow {
  background: green;
}
.import-container .import-btn-holder #btnImport {
  background: blue;
}
.import-container .import-btn-holder #btnDelRow {
  background: red;
}

.order-container {
  margin: 30px auto;
  padding: 30px;
  background: white;
}
.order-container h2 {
  text-align: center;
}
.order-container .order-form-container {
  margin: 30px 0;
}
.order-container .order-form-container .row {
  padding: 20px;
}
.order-container .order-form-container .row .col-6 input {
  height: 35px;
  width: 100%;
  padding: 0 10px;
}
.order-container .order-form-container .row .index {
  text-align: center;
  height: 35px;
  font-size: 18px;
}
.order-container .order-form-container .row .index span {
  vertical-align: middle;
}
.order-container .order-form-container .row .product-list select {
  padding: 0 20px;
  width: 100%;
  height: 35px;
}
.order-container .order-form-container .row .col-3 {
  text-align: center;
}
.order-container .order-form-container .row .col-3 input {
  height: 35px;
  width: 100%;
  padding: 0 10px;
}
.order-container .btn-payment {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
}
.order-container .btn-payment .btn-group input {
  margin: 0 10px;
}
.order-container .order-btn-holder {
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
}
.order-container .order-btn-holder button {
  margin: 0 15px;
  height: 35px;
  width: 150px;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  color: white;
}
.order-container .order-btn-holder #btnOrder {
  background: blue;
}
.order-container .order-btn-holder #btnUpdate {
  background: red;
}

.order-manage-container {
  margin: 30px auto;
  padding: 30px;
  background: white;
}
.order-manage-container h2 {
  text-align: center;
}
.order-manage-container .table-container {
  width: fit-content;
  margin: auto;
  margin-bottom: 50px;
}
.order-manage-container .table-container table thead tr th {
  text-align: center;
}
.order-manage-container .table-container table tbody td {
  text-align: center;
}
.order-manage-container .table-container table tbody td img {
  height: 70px;
  width: 70px;
}
.order-manage-container .table-container table tbody td button {
  background: transparent;
  border: none;
}
.order-manage-container .table-container table tbody td .btn-action {
  cursor: pointer;
}

.print-table {
  padding: 50px;
}
.print-table h2 {
  text-align: center;
}
.print-table .print-date {
  width: 100%;
  text-align: right;
  margin: 20px 0;
}
.print-table table {
  width: 100%;
  margin: 20px 0;
  border: 1px solid black;
}
.print-table table tr {
  border: 1px solid black;
  text-align: center;
}
.print-table table tr th {
  border: 1px solid black;
}
.print-table table tr td {
  border: 1px solid black;
}
.print-table .print-foot {
  margin-top: 20px;
  text-align: center;
}

.order-detail {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid black;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 40px;
}
.order-detail span {
  cursor: pointer;
  color: red;
}
.order-detail table {
  width: 100%;
  margin: 20px 0;
  border: 1px solid black;
}
.order-detail table tr {
  border: 1px solid black;
  text-align: center;
}
.order-detail table tr th {
  border: 1px solid black;
}
.order-detail table tr td {
  border: 1px solid black;
}

.month-statis-container {
  margin: 30px auto;
  padding: 30px;
  background: white;
}
.month-statis-container h2 {
  text-align: center;
}
.month-statis-container h4 {
  text-align: center;
  display: none;
}
.month-statis-container .table-container {
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
  display: none;
}
.month-statis-container .table-container table thead tr th {
  text-align: center;
}
.month-statis-container .table-container table tbody td {
  text-align: center;
}
.month-statis-container .table-container table tbody td img {
  height: 70px;
  width: 70px;
}
.month-statis-container .table-container table tbody td button {
  background: transparent;
  border: none;
}
.month-statis-container .table-container table tbody td .btn-action {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
