<div class="nav-container">
    <div class="d-flex justify-content-around">
        <div class="nav-button-holder">
            <a href="/">Trang chủ</a>
            <a href="/dathang">Đặt hàng</a>
            <a href="/xuatnhap">Xuất/ Nhập</a>
            <a href="/thongke">Thống kê</a>
        </div>
        <div class="nav-button-holder">
            <span>Xin chào, <%- user.Name %> </span>
            <a href="/dangxuat">Đăng xuất</a>
        </div>
    </div>
</div>