<nav class="navbar navbar-expand-lg navbar bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="../images/logo1.png" alt=""></a>

        <div class="nav-account-holder d-flex">
            <span>Xin chào, <%- user.Name %></span>
            <a href="/dangxuat">Đăng xuất</a>
        </div>
    </div>
</nav>