<div class="order-manage-container container">
    <h2>QUẢN LÝ ĐƠN HÀNG</h2>
    <div class="table-container">

        <div style=" width: 100%; padding: 1%">
            <table id="tableOrderTrack" class="display" >
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Người đặt</th>
                    <th>Điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Ngày đặt</th>
                    <th>Tổng tiền</th>
                    <th>Thanh toán</th>
                    <th>Trạng thái</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="order-detail container">
    <span class="close-detail">X</span>
    <table class="order-detail-table">
        <tr>
            <th>TT</th>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Whey 1</td>
            <td>12</td>
            <td>1.400.000 vnđ</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Whey 1</td>
            <td>12</td>
            <td>1.400.000 vnđ</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Whey 1</td>
            <td>12</td>
            <td>1.400.000 vnđ</td>
        </tr>
    </table>
</div>

<script>
    let order =<%-JSON.stringify(order)%>
</script>
<script src="../javascripts/orderTrack.js"></script>
